$titleColor: #F05454;
$textColor: #F05454;
$backgroundColor: #30475E;
$boxColor: #DDDDDD;
// #DDDDDD #222831 #30475E #F05454

img {
  margin-top: 5%;
}

mat-card {
  background-color: $backgroundColor;
}

mat-card-title {
  color: $titleColor;
}

mat-card-subtitle,
.summary {
  color: $boxColor;
}