<div fxLayout="column">
  <div fxLayout="row">
    <mat-card fxFlex="60">
      <mat-card-title>Contact me</mat-card-title>
      <mat-card-subtitle>Izilov Yoram</mat-card-subtitle>
      <mat-card-content class="summary">
        All messages sent from here go straight into my inbox.
        <br>I'm also available on Linkedin if that's your preference :)
      </mat-card-content>
      <mat-card-content>
        <app-email-form ></app-email-form>
      </mat-card-content>
    </mat-card>


    <div fxFlex="40">
      somthing
    </div>
  </div>

  <div class="socials" fxLayout="column" fxLayoutAlign="center center" >
      other ways:
      <div class="links" fxLayout="row" fxLayoutGap="5px">

      <a href="https://il.linkedin.com/in/yoram-izilov" target="_blank" style="text-decoration: none; color: inherit;">
        <img src="https://www.drupal.org/files/project-images/linkedin_circle_logo.png">
      </a>
      <a href="https://github.com/NerdFromHell" target="_blank" style="text-decoration: none; color: inherit;">
        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_black-512.png">
      </a>
      </div>
  </div>
</div>
