$titleColor: #F05454;
$textColor: #F05454;
$backgroundColor: #30475E;
$boxColor: #DDDDDD;
// #DDDDDD #222831 #30475E #F05454

.mat-card-div {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%
}

mat-card {
  background-color: $backgroundColor;
  z-index: 0;
}

mat-card-title {
  color: $titleColor;
  font-size: 36px;
}

mat-card-subtitle,
.summary {
  color: #DDDDDD;
  line-height: 1.5rem;
  font-weight: 500;
}

.links {
  img {
    height: 6vh;
  }
}

.links:hover {
  cursor: pointer;
}