<div fxLayout="column">
  <mat-card>
    <mat-card-title>Contact me</mat-card-title>
    <mat-card-subtitle>Izilov Yoram</mat-card-subtitle>
    <mat-card-content class="summary">
      All messages sent from here go straight into my inbox.
      <br>I'm also available on Linkedin if that is your preference :)
    </mat-card-content>
    <mat-card-content>
      <app-email-form></app-email-form>
    </mat-card-content>
  </mat-card>

  <!-- <div fxLayout="row" fxLayoutAlign="center center">
    <p>
      other ways:
    </p>
    <img width="20%"
      src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw">

    <img width="50%" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg">
  </div> -->
</div>