.mat-icon-button {
  position: fixed;
  margin: 1% auto;
  bottom: 0;
  left: 0;
  right: 0;
  color: #F05454;
  background-color: #DDDDDD;

  mat-icon {
    transform: scale(1.3);
  }
}

.mat-icon-button:hover {
  mat-icon {
    transition: 1s;
    transform: translateY(20%) scale(1.3);
  }
}
