<div class="skills-body" fxLayout="column">
  <div fxFLex="100" fxLayoutAlign="start center">
    <h1>Learned and learning more of:</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="grid" fxFlex="16.6" fxFlex.lt-lg="25" fxFlex.lt-md="33" fxFlex.lt-sm="50" fxLayoutAlign="center center"
      *ngFor="let skillLearned of skillsLearned">
      <app-card-chip [skill]="skillLearned.name" [image]="skillLearned.img">
      </app-card-chip>
    </div>
  </div>

  <div fxFLex="100" fxLayoutAlign="start center">
    <h1>Currently learning:</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="grid" fxFlex="16.6" fxFlex.lt-lg="25" fxFlex.lt-md="33" fxFlex.lt-sm="50" fxLayoutAlign="center center"
      *ngFor="let skillLearning of skillsLearning">
      <app-card-chip [skill]="skillLearning.name" [image]="skillLearning.img">
      </app-card-chip>
    </div>

  </div>
