<div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlexFill>
  <div div fxLayout="column" fxLayoutAlign="center start" fxFlex="50" fxFlexFill>
    <div class="title">
      <h1>
        About Me:
      </h1>
    </div>

    <div class="body">
      <p>
        Hi! My name is Izilov Yoram and I'm a full-stack developer located in southern Israel.
        <br>I have a serious passion for development and love learning new things every day.
        <br>I am a well-organised person, a problem solver, and an employee with high attention to detail.
        <br>Fan of music, anime, games, and new technology.
        <br>I'm interested in the entire full-stack spectrum and am open to diving into other fields of work on
        ambitious projects with positive people.
        <br>
        <br>Currently, I work at Shaniv Sasatech as a software engineer who does full-stack development and some
        automation.
      </p>
    </div>

    <div class="btn">
      <a [routerLink]="['/contact-me']" routerLinkActive="active"
        style="text-decoration: none; color: inherit; z-index: 1;">
        <app-btn text="Contact me!"></app-btn>
      </a>
    </div>
  </div>

  <div fxFlex="50">
    <img width="50%" src="https://www.teahub.io/photos/full/39-396452_anime-profile-picture-girl.jpg" />
  </div>
</div>