<div fxLayout="column">
    <h1>
        Hi!
        <br>
        I am Yoram Izilov
    </h1>

    <p>
        I'm a Full-stack Developer located in Israel.
        <br>
        I have a serious passion for delvoloping and learning new things every day,
        <br>
        Well-organised person, problem solver, employee with high attention to detail.
        Fan of music, anime, games, and new tech.
        <br>
        Interested in the entire frontend spectrum and working on ambitious projects with positive people.
        <br>
        Let's make something special.
    </p>

    <a [routerLink]="['/contact-me']" routerLinkActive="active" style="text-decoration: none; color: inherit;">
      <button>
        <div>
          Contact me!
        </div>
      </button>
    </a>
</div>
