<h2>Contact me</h2>
<p>I'm intersted in fullstack web-develompent opportunities - if you are intersted in hiring me leave an email and I
  will respond with my CV in the reply</p>


<form autocomplete="off" class="email_form">
  <ul style="list-style: none;" class="form-group">
    <div>
      <li fxFlex="48">
        <input class="line-animation" placeholder="Name" type="text" name="name">
        <div class="line"></div>
      </li>
      <li fxFlexOffset="2" fxFlex>
        <input class="line-animation" placeholder="Email" type="email" id="email"  >
        <div class="line"></div>
      </li>
    </div>
    <li class="second_row">
      <input class="line-animation" placeholder="Subject" type="text" name="subject">
      <div class="line"></div>
    </li>
    <li class="third_row">

      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="15" class="line-animation"
        placeholder="Message" id="message"></textarea>
      <div class="line"></div>
    </li>
    <li class="submit" fxLayout="row-reverse">

      <button (click)="validate($event)">
        <div>
          Send message!
        </div>
      </button>

    </li>
  </ul>

</form>
