$backgroundBoxColor: #222831;
$textColor: #DDDDDD;
$placeholderColor: #DDDDDD;
$lineColor: #DDDDDD;
// #DDDDDD #222831 #30475E #F05454

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $placeholderColor;
  opacity: 0.5;
  /* Firefox */
}

li>input,
li>textarea {
  color: $textColor;
}

* {
  box-sizing: border-box;
  padding: unset;
}

.email_form {
  width: 100%;
  display: block;
}

.second_row>input {
  width: 100%;
}

.third_row>textarea {
  width: 100%;
}

input {
  overflow: visible;
  width: 100%;
}


input[type=text],
input[type=email],
textarea {
  font-size: 1.6rem;
  line-height: 1.5;
  border: none;
  background-color: $backgroundBoxColor;
  display: block;
  padding-left: 1rem;
}

input[type=text]:focus,
input[type=email]:focus,
textarea {
  outline: none;
}

.line {
  height: 2px;
  width: 0px;
  position: absolute;
  background-color: $lineColor;
  display: inline-block;
  transition: .3s width ease-in-out;
  position: relative;
  top: -14px;
}

input[type=text]:focus+.line,
input[type=email]:focus+.line,
textarea:focus+.line {
  width: 100%;
  background-color: $lineColor;
}
