<form autocomplete="off" class="email_form">
  <ul style="list-style: none;" class="form-group">
    <div>
      <li fxFlex="48">
        <input class="line-animation" placeholder="Name" type="text" id="name">
        <div class="line"></div>
      </li>
      <li fxFlexOffset="2" fxFlex>
        <input class="line-animation" placeholder="Email" type="email" id="email">
        <div class="line"></div>
      </li>
    </div>
    <li class="second_row">
      <input class="line-animation" placeholder="Subject" type="text" id="subject">
      <div class="line"></div>
    </li>
    <li class="third_row">

      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" maxlength="1000"
        class="line-animation" placeholder="Message" id="message"></textarea>
      <div class="line"></div>
    </li>
    <li dir="rtl">
      <app-btn (btnClick)="onClick($event)" text="!Send message">
      </app-btn>
    </li>
  </ul>

</form>