<div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlexFill>
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-evenly start" fxFlexFill>
    <div class="title">
      <h1>
        Yoram Izilov's
        <br>
        Portfolio
      </h1>
    </div>

    <div class="body">
      this is some long text to tell a bit about myself,
      <br>
      don't forget to change it a bit before realese please
    </div>

    <div class="btn">
      <a [routerLink]="['/contact-me']" routerLinkActive="active"
        style="text-decoration: none; color: inherit;">
        <app-btn text="Hire me!"></app-btn>
      </a>
    </div>
  </div>
  <div fxFlex="50">
    <img width="50%" src="https://cdn.wallpapersafari.com/78/64/JCAQVk.png" />
  </div>
</div>
