$titleColor: #436ef8;
$textColor: white;

* {
  outline: 1px solid limegreen;
}

.title {
  color: $titleColor;
}

.body{
  color: $textColor;
}

.btn{
  width: 100%;
  z-index: 1;
  align-items: center;
}
