<div class="homepage-body" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <div fxLayout="column" fxLayoutAlign="center start" fxFlex="60" fxFlex.lt-md="100">
    <div class="title">
      <h1>
        Hello,
        <br>
        I'm Yoram
      </h1>
    </div>

    <div class="body">
      <p>
        I am a self-taught full-stack developer.
        <br> I look forward to working for a company that appreciates my value.
      </p>
    </div>

    <div class="btn">
      <a [routerLink]="['/contact-me']" routerLinkActive="active">
        <app-btn text="Hire me!"></app-btn>
      </a>
    </div>
  </div>
  <div class="image-container" fxLayoutAlign="center center" fxFlex="40" fxFlex.lt-md="100">
    <img src="../../../assets/yoram images/homepageYoram.jpg" />
  </div>
</div>