<div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlexFill>
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-evenly start" fxFlexFill>
    <div class="title">
      <h1>
        Yoram Izilov's
        <br>
        Portfolio
      </h1>
    </div>

    <div class="text-body">
      this is some long text to tell a bit about myself,
      <br>
      don't forget to change it a bit before realese please
    </div>

    <a [routerLink]="['/contact-me']" routerLinkActive="active"
      style="text-decoration: none; color: inherit; z-index: 1; width: 220px;">
      <app-btn text="Contact me!"></app-btn>
    </a>
  </div>
  <div fxFlex="50">
    <img width="50%" src="https://cdn.wallpapersafari.com/78/64/JCAQVk.png" />
  </div>
</div>