* {
  background-color: transparent;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-sidenav {

  margin-right: 0px;
  width: 200px;
  border-right: none;
  background: #034999;
  color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 16px;
  text-align: center;
}

.mat-sidenav-mode-over-margin {
  margin-top: 3.7rem;
}

.mat-sidenav-mode-side-margin {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.btn {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  background-color: #034999;
  border: none;

  font-size: 1rem;
  margin-top: 2px;
  margin-bottom: 2px;

  mat-icon {
    margin-right: 8px;
  }
}

.btn:hover,
.closeBtn:hover {
  color: aquamarine;
}

.mat-icon-button {
  color: whitesmoke;
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  background: rgba(255, 255, 255, 0);
}

.avatar {
  margin-top: 10px;
  margin-bottom: 5px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

img {
  margin-left: 2px;
}


.sideMenuText {
  padding-left: 0.3rem;
}

.openMenuColorIcon,
.sideMenuText {
  color: black;
}

.openMenuBtn {
  border: none;
  cursor: pointer;
}