mat-toolbar {
    background: #30475E;
    color: white;
    height: 3.5rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btnOption:hover {
    color: #F05454;
}

.btnOption:active {
    transition: 0.3s;
    transform: rotate(360deg);
}

.hideToolbarAnimation {
    transition: 0.3s;
    height: 0rem;
}

.showToolbarAnimation {
    transition: 0.3s;
    height: 3.5rem;
}